/* Quiz Specific Styles */
#intro-container {
    text-align: center;
}

#quiz-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 800px;
    margin: 20px auto;
}

#name-input {
    padding: 10px;
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.quiz-selection {
    display: flex;
    justify-content: center;
    gap: 15px;
}
#quiz-container h2 {
    margin-top: 0;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    background-color: #0779e4;
    border: 1px solid #0779e4;
    border-radius: 5px;
    padding: 10px;
    color: white;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    text-align: left;
}

.btn:hover {
    background-color: #065fb1;
}

.btn.correct {
    background-color: #28a745;
    border-color: #28a745;
}

.btn.wrong {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn.selected {
    background-color: #054a91; /* A darker blue to indicate selection */
    border-color: #043b73;
}

.btn.selected:hover {
    background-color: #dc3545; /* Use a 'remove' color like red on hover */
    border-color: #c82333;
}

.btn:disabled {
    cursor: not-allowed;
}

#quiz-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Add space between prev/next buttons */
}

.hide {
    display: none;
}

#result-container {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
}

/* Review Styles */
.review-section {
    text-align: left;
    margin-top: 20px;
}

.review-question {
    background-color: #f9f9f9;
    border: 1px solid #eee;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.review-question p {
    margin: 0 0 10px 0;
    font-weight: bold;
}

.review-answer {
    margin-left: 20px;
}

.review-answer.correct-answer {
    color: #28a745;
    font-weight: bold;
}
